<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact US</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">home page</a></li>
                <li><a href="/services">Our Service </a></li>
                <li><a href="/contact">Contact Us</a></li>
                
    
            </ul>
        </nav>
        <h1><%= page %></h1>
        <br>
        <br>
        <p>You can Reach to US at 230 Herbert Macaulay Way, Alagomeji-Yaba 101245, Lagos, Nigeria
        +234 01 888 4669
        hello@gomycode.com or more details about our product and services on TECH</p>
   
    </header>
      
    <footer class="footer">
        <p>&copy; 2023 Gomycode</p>
    </footer>
</body>
</html>