<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Service  Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">home page</a></li>
                <li><a href="/services">Our Service </a></li>
                <li><a href="/contact">Contact Us</a></li>
                
    
            </ul>
        </nav>
        <h1><%= page %></h1>
    <p>At Gomycode, our mission is to democratize education by empowering technology enthusiasts to learn tech skills. <br>We have created a safe learning environment that enables you to challenge yourself with new skills.<br>
         It s a great place to connect with like-minded people, even outside of your industry.<br> Join us to learn, grow, and succeed in the world of technolog</p>
        
    </header>
    <footer class="footer">
        <p>&copy; 2023 Gomycode</p>
    </footer>
    
</body>
</html>